
.bg {
  /* The image used is by pawel czerwinski. Free at: https://unsplash.com/photos/0-hXSg0oRjg */
  background-image: url("../img/downscaled_pawel-czerwi.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	top: 0%;
	widht:100%;
	left: 0%;
	height:100%;
}

.splash-link {
	color:#FFFFFF;
	margin:auto;
	text-align:center;
}
.splash-link:hover {
  text-decoration: none;
	color:#DDDDDD;
}

.nav {
	position: absolute;
	/* position: relative; */
	top: 0%;
	background: transparent;
}

.whitefont {
	color:#FFFFFF;
}

.headshot {
	/* position:relative; */
	/* top:0; */
	margin: auto;
	/* width:150px; */
	/* height:auto; */
	height:100%;
	width:auto;
	padding: 5px;
}

.featurette-image {
	magin: auto;
	height:auto;
	width:auto;
	padding: 5px;
	max-height:400px;
}

.peoplecard {
	height:400;
	min-width: 300px;
	/* min-height: 400; */
	/* min-width: 300; */
}
.peoplecard-img{
	height:250px;
	background-color:rgb(247, 247, 247);
	/* padding: 0px 0px 5px 0px; */
}
.peoplecard-body {
	height:150px;
	padding: 10px 5px 10px 20px;
}

.citation-text{
	text-align:left;
	text-emphasis:none;
	font-style:normal;
	font-weight:normal;
}

.pub-title{
	text-transform:none;
}
