<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv/CKT_CV_2016.pdf">CV</a></li>
	        		<li><a href="/blog">Blog</a></li> 
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>cdk2119 [at] columbia [dot] edu</li>
	        		<li>3000 Broadway, Havemeyer Hall, Columbia University, New York, NY 10027</li>
	        		<!--<li>(212)-854-0162</li>-->
				</ul>
			</footer>
		</body>
	</html>
